@{
    ViewBag.Title = "Final Score";
    
    Layout = "_Layout";
    TempData["UserType"] = "student";

}

<div class="card">
    <div class="row"> 
        <div style="text-align:center">
            <h2 style="font-family:Arial;color:white">Congratulations!</h2>
             <p style="font-family:Arial;color:white">Your final score is:</p>
             <h1 style="font-family:Arial;color:white">@ViewBag.TotalScore </h1>
             <br />
            <form asp-action="FinalScore_click" class="form-horizontal" method="post">
                <div class="form-group">
                    <input type="submit" value="Confirm" class="btn btn-success custom-input"  />
                </div>
            </form>
            @* @using (Html.BeginForm("studenthome_pageload", "StudentHome"))
            {
                <button class="btn btn-success btn-xs" type="submit">
                    Confirm
                </button>
            } *@
        </div>
      </div>
</div> 


<style>
    body {
        background-image: url('/homepageimage/qqq10.jpg');
        /* background-size: cover; */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 700px;
        height: auto;
        margin: 5% auto;
        background-color: transparent;
        padding:100px;
        border-radius: 10px;
        box-sizing: border-box;
        background: rgba( 255, 255, 255, 0.4 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    } 
</style>