@model QuizApplication.Models.StudentReg
@{
    Layout = "_Layout";
}

<div class="card">
    <div class="row">
        <div class="column">
            <h2><b>Student Registration</b></h2>
            <form asp-action="Studreg_click" class="form-horizontal" method="post">

                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input asp-for="Stud_Name" class="form-control  custom-input" id="txt1" />
                </div>

                <div class="form-group">
                    <label class="control-label">Date of birth</label>
                    <input asp-for="Stud_DOB" class="form-control custom-input" type="date" />
                </div>

                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input asp-for="Stud_Email" class="form-control custom-input" id="txt2" />
                </div>
                <div class="form-group">
                    <label class="control-label">Username</label>
                    <input asp-for="Username" class="form-control custom-input" id="txt3" />
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input asp-for="Password" class="form-control custom-input" id="txt4" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Register" class="btn btn-primary custom-input" />
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .custom-input {
        width: 400px;
    }

    body {
        background-image: url('/homepageimage/q1.jpg');
        /* background-size: cover; */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: fit-content;
        height: auto;
        margin: 5% auto;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-sizing: border-box;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
</style>
@{
    if (@TempData["msg"] != null)
    {
        <script>
            alert('@TempData["msg"]')
            document.getElementById('txt1').value = '';
            document.getElementById('txt2').value = '';
             document.getElementById('txt3').value = '';
            document.getElementById('txt4').value = '';
        </script>
    }
}